
@{
    ViewBag.Title = "Product Selector";
}

@section Styles
{
    <style type="text/css">
    </style>
}

<div class="container">
    <div class="row">
        <div class="page-heading">
            <img class="img-responsive" src="~/Images/search-icon-small.png" alt="search-icon-small">
            <h1>Product Selector</h1>
        </div>
        <div class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Product Search</a></li>
                <li class="active"><a href="#">Product Selector</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="container container-bg page-height">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="row">
                <div class="side-bar">
                    <div class="sidebar-heading">
                        <h2>Search by Product</h2>
                    </div>
                    <div class="side-catagory">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Microwaves
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Microwave Cookware
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Refrigerators
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Beverage Coolers
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Freezers
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Ice Makers
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Small Appliances
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Dishwashers
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Parts
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="row">
                <div class="result-heading">
                    <div class="heading-r">
                        <h2>Microwave</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="view view-fifth">
                                <div class="bg-box">
                                    <h1>MC01655F</h1>
                                    <h2>
                                        1.6 cu. ft. Over-the-Range
                                        Microwave Oven
                                    </h2>
                                </div>
                                <a href="#">
                                    <div class="mask">
                                        <div class="bg-box-red">
                                            <h1>MC01655F</h1>
                                            <h2>
                                                1.6 cu. ft. Over-the-Range
                                                Microwave Oven
                                            </h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="view view-fifth">
                                <div class="bg-box">
                                    <h1>MCD1110SB</h1>
                                    <h2>
                                        1.1 cu. ft. Countertop
                                        Microwave Oven
                                    </h2>
                                </div>
                                <a href="#">
                                    <div class="mask">
                                        <div class="bg-box-red">
                                            <h1>MCD1110SB</h1>
                                            <h2>
                                                1.1 cu. ft. Countertop
                                                Microwave Oven
                                            </h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="view view-fifth">
                                <div class="bg-box">
                                    <h1>MCM1310B</h1>
                                    <h2>
                                        1.1 cu. ft. Countertop
                                        Microwave Oven
                                    </h2>
                                </div>
                                <a href="#">
                                    <div class="mask">
                                        <div class="bg-box-red">
                                            <h1>MCM1310B</h1>
                                            <h2>
                                                1.1 cu. ft. Countertop
                                                Microwave Oven
                                            </h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="view view-fifth">
                                <div class="bg-box">
                                    <h1>MCM1310B</h1>
                                    <h2>
                                        1.1 cu. ft. Countertop
                                        Microwave Oven
                                    </h2>
                                </div>
                                <a href="#">
                                    <div class="mask">
                                        <div class="bg-box-red">
                                            <h1>MCM1310B</h1>
                                            <h2>
                                                1.1 cu. ft. Countertop
                                                Microwave Oven
                                            </h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="view view-fifth">
                                <div class="bg-box">
                                    <h1>MCM1310B</h1>
                                    <h2>
                                        1.1 cu. ft. Countertop
                                        Microwave Oven
                                    </h2>
                                </div>
                                <a href="#">
                                    <div class="mask">
                                        <div class="bg-box-red">
                                            <h1>MCM1310B</h1>
                                            <h2>
                                                1.1 cu. ft. Countertop
                                                Microwave Oven
                                            </h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="view view-fifth">
                                <div class="bg-box">
                                    <h1>MCM1310B</h1>
                                    <h2>
                                        1.1 cu. ft. Countertop
                                        Microwave Oven
                                    </h2>
                                </div>
                                <a href="#">
                                    <div class="mask">
                                        <div class="bg-box-red">
                                            <h1>MCM1310B</h1>
                                            <h2>
                                                1.1 cu. ft. Countertop
                                                Microwave Oven
                                            </h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="view view-fifth">
                                <div class="bg-box">
                                    <h1>MCM1310B</h1>
                                    <h2>
                                        1.1 cu. ft. Countertop
                                        Microwave Oven
                                    </h2>
                                </div>
                                <a href="#">
                                    <div class="mask">
                                        <div class="bg-box-red">
                                            <h1>MCM1310B</h1>
                                            <h2>
                                                1.1 cu. ft. Countertop
                                                Microwave Oven
                                            </h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="view view-fifth">
                                <div class="bg-box">
                                    <h1>MCM1310B</h1>
                                    <h2>
                                        1.1 cu. ft. Countertop
                                        Microwave Oven
                                    </h2>
                                </div>
                                <a href="#">
                                    <div class="mask">
                                        <div class="bg-box-red">
                                            <h1>MCM1310B</h1>
                                            <h2>
                                                1.1 cu. ft. Countertop
                                                Microwave Oven
                                            </h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="view view-fifth">
                                <div class="bg-box">
                                    <h1>MCM1310B</h1>
                                    <h2>
                                        1.1 cu. ft. Countertop
                                        Microwave Oven
                                    </h2>
                                </div>
                                <a href="#">
                                    <div class="mask">
                                        <div class="bg-box-red">
                                            <h1>MCM1310B</h1>
                                            <h2>
                                                1.1 cu. ft. Countertop
                                                Microwave Oven
                                            </h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" lang="en">
        $(function () {
            console.log('hello world');
        });
    </script>
}
