@import url(../fonts/fonts.css);

h1 {
    font-family: "museo_sans500", Arial, sans-serif;
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

a {
}

p {
    font-family: 'museo_sans100', Arial, sans-serif;
}

span {
}

.login-bg {
    background-image: url(../images/login-bg-2.jpg);
    /*   min-height: 1070px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
	padding: 0px 0 90px 0;*/
    min-height: 100%;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-line {
    height: 82px;
    background: rgba(234,63,72,1);
    background: -moz-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,63,72,1)), color-stop(48%, rgba(234,63,72,1)), color-stop(48%, rgba(231,37,47,1)), color-stop(49%, rgba(231,37,47,1)), color-stop(100%, rgba(231,37,47,1)));
    background: -webkit-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    background: -o-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    background: -ms-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    background: linear-gradient(to bottom, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea3f48', endColorstr='#e7252f', GradientType=0 );
}

.login-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin: -185px auto 0;
    text-align: center;
}

    .login-box .content {
        background-color: rgba(255,255,255,0.7);
        border-radius: 9px;
        border-top: 12px solid #e4323a;
        border-bottom: 2px solid #e4323a;
        padding: 20px 20px 30px 20px;
        display: inline-block;
        float: none;
        margin: 0 auto;
    }

        .login-box .content img {
            text-align: center;
            margin: 0px auto;
            padding-top: 22px;
        }

        .login-box .content h1 {
            font-weight: 500;
            text-align: center;
            font-size: 30px;
            font-family: "museo_sans500", Arial, sans-serif;
            font-weight: bold;
        }

.login-feild input {
    width: 100%;
    padding-top: 30px;
}

    .login-feild input[type=text], textarea {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 10px;
        margin: 20px 1px 3px 0px;
        border: 1px solid #e4e4e4;
        font-family: 'museo_sans300', Arial, sans-serif;
        color: #c6c6c6;
        font-size: 16px;
    }

        .login-feild input[type=text]:focus, textarea:focus {
            box-shadow: 0 0 5px rgba(216, 41, 49, 1);
            padding: 3px 0px 3px 10px;
            margin: 20px 1px 3px 0px !important;
            border: 1px solid rgba(216, 41, 49, 1);
            font-family: 'museo_sans300', Arial, sans-serif;
            color: #000;
            font-size: 16px;
        }

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 10px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e4e4e4;
    font-family: 'museo_sans300', Arial, sans-serif;
    color: #c6c6c6;
    font-size: 16px;
}

.button {
    text-align: center;
    color: #FFFFFF;
    padding: 20px 0 0 0;
}

    .button a, .button button {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1452f+0,d92b15+100 */
        background: #f1452f; /* Old browsers */
        background: -moz-linear-gradient(top, #f1452f 0%, #d92b15 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f1452f 0%, #d92b15 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f1452f 0%, #d92b15 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1452f', endColorstr='#d92b15', GradientType=0 ); /* IE6-9 */
        color: #FFFFFF;
        text-decoration: none;
        padding: 10px 40px 10px 40px;
        border-radius: 6px;
        border: 1px solid #cc3f34;
    }

        .button a:hover, .button button:hover {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d92b15+0,f1452f+100 */
            background: #d92b15; /* Old browsers */
            background: -moz-linear-gradient(top, #d92b15 0%, #f1452f 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #d92b15 0%, #f1452f 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #d92b15 0%, #f1452f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92b15', endColorstr='#f1452f', GradientType=0 ); /* IE6-9 */
        }



.update {
    text-align: right;
    color: #FFFFFF;
    padding: 20px 0 0 0;
}

    .update a {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1452f+0,d92b15+100 */
        background: #f1452f; /* Old browsers */
        background: -moz-linear-gradient(top, #f1452f 0%, #d92b15 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f1452f 0%, #d92b15 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f1452f 0%, #d92b15 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1452f', endColorstr='#d92b15', GradientType=0 ); /* IE6-9 */
        color: #FFFFFF;
        text-decoration: none;
        padding: 10px 40px 10px 40px;
        border-radius: 6px;
        border: 1px solid #cc3f34;
    }

        .update a:hover {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d92b15+0,f1452f+100 */
            background: #d92b15; /* Old browsers */
            background: -moz-linear-gradient(top, #d92b15 0%, #f1452f 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #d92b15 0%, #f1452f 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #d92b15 0%, #f1452f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92b15', endColorstr='#f1452f', GradientType=0 ); /* IE6-9 */
        }

.forget-error {
    text-align: right;
    padding-top: 30px;
}

    .forget-error a {
        font-style: italic;
        color: #000000;
        font-size: 16px;
    }

        .forget-error a:hover {
            text-align: right;
            font-style: italic;
            color: #e2323b;
            font-size: 16px;
        }

.footer-black {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    bottom: 0px;
    Width: 100%;
}

    .footer-black p {
        text-align: center;
        color: rgba(255,255,255,1.00);
        padding: 15px 0 15px 0;
        margin: 0px;
    }

.navbar-default {
    height: 82px;
    border: none;
    border-radius: 0px;
    background: rgba(234,63,72,1);
    background: -moz-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,63,72,1)), color-stop(48%, rgba(234,63,72,1)), color-stop(48%, rgba(231,37,47,1)), color-stop(49%, rgba(231,37,47,1)), color-stop(100%, rgba(231,37,47,1)));
    background: -webkit-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    background: -o-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    background: -ms-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    background: linear-gradient(to bottom, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea3f48', endColorstr='#e7252f', GradientType=0 );
}

.navbar-brand {
    padding: 0px 0 0 0px;
    height: 82px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 52px;
}

.bg-texture {
    background-image: url(../images/patterns.jpg);
    background-repeat: repeat;
}

.nav > li {
    position: relative;
    display: block;
    padding: 0px 0 0 0px;
    margin: 24px 0 0 0;
    border-right: 1px solid #ffffff;
    font-size: 20px;
    color: #000000;
}
/*.navbar-nav>li>a {
    padding: 10px 30px 10px 30px;
    line-height: 0px;
 	font-size: 20px;
	color:#000000;
}		
*/
.navbar-nav li:last-child {
    border: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    margin: 0 5px 0 5px;
    padding: 10px 30px 10px 30px;
    line-height: 9px;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: #FFFFFF;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e2a2b+50,231f20+51,231f20+100 */
        background: #2e2a2b; /* Old browsers */
        background: -moz-linear-gradient(top, #2e2a2b 50%, #231f20 51%, #231f20 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #2e2a2b 50%, #231f20 51%, #231f20 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #2e2a2b 50%, #231f20 51%, #231f20 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2a2b', endColorstr='#231f20', GradientType=0 ); /* IE6-9 */
        border-radius: 4px;
        border-bottom: 3px solid #040404;
        line-height: 9px;
    }

.page-heading {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#221e1f+0,2a2a2a+100 */
    background: #221e1f; /* Old browsers */
    background: -moz-linear-gradient(top, #221e1f 0%, #2a2a2a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #221e1f 0%,#2a2a2a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #221e1f 0%,#2a2a2a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#221e1f', endColorstr='#2a2a2a',GradientType=0 ); /* IE6-9 */
    padding: 15px;
    color: #FFFFFF;
}


    .page-heading img {
        float: left;
        padding: 0 0 0 0;
        margin: -3px 10px 0px 0px;
    }

    .page-heading h1 {
        margin: 0px;
        padding: 0px;
        font-family: "museo_sans500", Arial, sans-serif;
        font-size: 22px;
        text-transform: uppercase;
    }

    .page-heading i {
        margin: 0px;
        padding: 0 10px 0 0px;
        float: left;
        font-size: 22px;
        text-transform: uppercase;
    }

.breadcrumb {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f3+0,e3e3e3+100 */
    background: #f3f3f3; /* Old browsers */
    background: -moz-linear-gradient(top, #f3f3f3 0%, #e3e3e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#e3e3e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f3f3f3 0%,#e3e3e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
    border-radius: 0px;
    margin-bottom: 0px;
}

    .breadcrumb ol {
        text-decoration: none;
        color: #686868;
        text-decoration: none;
    }

    .breadcrumb li {
        text-decoration: none;
    }

        .breadcrumb li a {
            color: #686868;
            text-decoration: none;
            font-family: "museo_sans300", Arial, sans-serif;
        }

            .breadcrumb li a:hover {
                color: #686868;
                text-decoration: none;
                font-weight: 300;
                font-family: "museo_sans500", Arial, sans-serif;
            }

.container-bg {
    background-color: #FFFFFF;
    padding-bottom: 30px;
}


.body-content h2 {
    font-size: 20px;
    font-family: "museo_sans500", Arial, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 20px 70px 20px 70px;
}

.box-icons {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a2a2a+0,221e1f+100 */
    background: #2a2a2a; /* Old browsers */
    background: -moz-linear-gradient(top, #2a2a2a 0%, #221e1f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2a2a2a 0%,#221e1f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2a2a2a 0%,#221e1f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#221e1f',GradientType=0 ); /* IE6-9 */
}

    .box-icons img {
        padding: 20px;
        margin: 0px auto;
    }

.box-text {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea3f48+0,ea3f48+100 */
    background: #ea3f48; /* Old browsers */
    background: -moz-linear-gradient(top, #ea3f48 0%, #ea3f48 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ea3f48 0%,#ea3f48 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ea3f48 0%,#ea3f48 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea3f48', endColorstr='#ea3f48',GradientType=0 ); /* IE6-9 */
}

    .box-text h2 {
        color: #FFFFFF;
        font-family: "museo_sans500", Arial, sans-serif;
        font-size: 26px;
    }

.boxed a {
    text-decoration: none;
    font-family: "museo_sans500", Arial, sans-serif;
}

.line hr {
    padding: 0;
    /* margin: 20px; */
    clear: both;
    width: 20%;
    text-align: center;
    height: 2px;
    background-color: #242122;
}

.footer {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#221e1f+0,2a2a2a+100 */
    margin: 0px 0 0 0;
    background: #221e1f; /* Old browsers */
    background: -moz-linear-gradient(top, #221e1f 0%, #2a2a2a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #221e1f 0%,#2a2a2a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #221e1f 0%,#2a2a2a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#221e1f', endColorstr='#2a2a2a',GradientType=0 ); /* IE6-9 */
}


    .footer ul {
        text-decoration: none;
        margin: 0px;
        padding: 10px 0 10px 0;
        text-align: center;
    }

        .footer ul li {
            list-style: none;
            display: inline-block;
            padding: 0px 15px 0px 15px;
            color: #FFFFFF;
            font-family: "museo_sans100", Arial, sans-serif;
            border-right: 1px solid #FFFFFF;
        }

            .footer ul li a {
                text-decoration: none;
                padding: 0px 15px 0px 15px;
                color: #FFFFFF;
                font-family: "museo_sans100", Arial, sans-serif;
            }


                .footer ul li a:hover {
                    padding: 0px 15px 0px 15px;
                    color: #ea3f48;
                    font-family: "museo_sans100", Arial, sans-serif;
                }

            .footer ul li:last-child {
                border-right: 0px;
            }

.rights p {
    text-align: center;
    padding: 15px 0 15px 0;
    font-family: "museo_sans500", Arial, sans-serif;
}

.product-search-content {
    background-image: url(../images/patterns.jpg);
    background-repeat: repeat;
    margin: 20px 20px 0 20px;
    padding: 20px 30px 40px 30px;
    border: 1px solid #e3e3e3;
}


    .product-search-content h2 {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        padding: 0px 200px 20px 200px;
    }


    .product-search-content input[type=text], textarea {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 10px;
        margin: 0px auto;
        border: 1px solid #e4e4e4;
        font-family: 'museo_sans300', Arial, sans-serif;
        color: #c6c6c6;
        font-size: 16px;
        text-align: center;
        width: 50%;
        border-radius: 0px;
    }

        .product-search-content input[type=text]:focus, textarea:focus {
            box-shadow: 0 0 5px rgba(216, 41, 49, 1);
            padding: 3px 0px 3px 10px;
            margin: 0px auto;
            text-align: center;
            border: 1px solid rgba(216, 41, 49, 1);
            font-family: 'museo_sans300', Arial, sans-serif;
            color: #000;
            font-size: 16px;
            border-radius: 0px;
        }

.button-submit {
    text-align: center;
    color: #FFFFFF;
    padding: 20px 0 0 0;
    float: none;
}

.page-height {
    min-height: 750px;
}





.sidebar-heading {
    background: #2e2a2b; /* Old browsers */
    background: -moz-linear-gradient(top, #2e2a2b 50%, #231f20 51%, #231f20 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2e2a2b 50%, #231f20 51%, #231f20 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2e2a2b 50%, #231f20 51%, #231f20 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2a2b', endColorstr='#231f20', GradientType=0 ); /* IE6-9 */
    padding: 10px;
    color: #FFFFFF;
}



.side-bar {
    margin: 20px 0 0 0px;
    padding: 0px;
}

.sidebar-heading h2 {
    margin: 0px;
    padding: 5px 0 5px 0;
    font-size: 16px;
    font-family: 'museo_sans500', Arial, sans-serif;
}

.side-catagory {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f3+0,e3e3e3+100 */
    background: #f3f3f3; /* Old browsers */
    background: -moz-linear-gradient(top, #f3f3f3 0%, #e3e3e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#e3e3e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f3f3f3 0%,#e3e3e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
}

    .side-catagory .radio {
        margin-top: 0px;
        padding: 0px 0 0px 0;
    }

        .side-catagory .radio label {
            min-height: 20px;
            padding-left: 30px;
            margin-bottom: 0;
            font-weight: 400;
            cursor: pointer;
            background-color: #ebebeb;
            border: 1px solid #e0e0e0;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }

    .side-catagory input[type="radio"] {
        float: right;
        -webkit-appearance: none;
        border: none;
        width: 10px;
        height: 10px;
        background: url(../images/un-checked.png) left center no-repeat;
        background-size: 10px;
    }

        .side-catagory input[type="radio"]:checked {
            background: url(../images/checked.png) left center no-repeat;
            box-shadow: none;
            outline: none;
        }

.result-heading {
    margin-top: 20px;
    margin-left: 30px;
}

.heading-r {
    border: 1px solid #e0e0e0;
    padding: 10px;
    background: rgba(234,63,72,1);
    background: -moz-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,63,72,1)), color-stop(48%, rgba(234,63,72,1)), color-stop(48%, rgba(231,37,47,1)), color-stop(49%, rgba(231,37,47,1)), color-stop(100%, rgba(231,37,47,1)));
    background: -webkit-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    background: -o-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    background: -ms-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    background: linear-gradient(to bottom, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea3f48', endColorstr='#e7252f', GradientType=0 );
}

.result-heading h2 {
    margin: 0px;
    padding: 0px 0 0 5px;
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'museo_sans500', Arial, sans-serif;
}



.bg-box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e2a2b+79,231f20+79,231f20+79 */
    background: #2e2a2b; /* Old browsers */
    background: -moz-linear-gradient(top, #2e2a2b 79%, #231f20 79%, #231f20 79%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2e2a2b 79%,#231f20 79%,#231f20 79%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2e2a2b 79%,#231f20 79%,#231f20 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2a2b', endColorstr='#231f20',GradientType=0 ); /* IE6-9 */
    border: 2px solid #231f20;
}


    .bg-box h1 {
        color: #000000 !important;
        font-size: 20px;
        background-color: #FFFFFF;
        border: none !important;
        padding: 40px 0 40px 0;
        margin: 0px;
        font-family: 'museo_sans500', Arial, sans-serif;
    }

    .bg-box h2 {
        color: #FFFFFF !important;
        font-size: 16px;
        font-family: 'museo_sans100', Arial, sans-serif;
        box-shadow: none !important;
        margin: 0px !important;
        padding: 20px 0 20px 0 !important;
    }


.bg-box-red h1 {
    color: #000000 !important;
    font-size: 20px;
    background-color: #FFFFFF;
    margin: 0 0px 0 0px !important;
    padding: 40px 0 40px 0;
    margin: 0px;
    font-family: 'museo_sans500', Arial, sans-serif;
    border: 2px solid #e7252f !important;
}

.bg-box-red h2 {
    color: #FFFFFF !important;
    font-size: 16px;
    font-family: 'museo_sans100', Arial, sans-serif;
    box-shadow: none !important;
    margin: 0px !important;
    padding: 20px 0 20px 0 !important;
}

.view .mask {
    height: auto !important;
    width: auto !important;
}


.view {
    border: none !important;
    box-shadow: none !important;
    height: auto !important;
    width: auto !important;
    margin: 20px 0 0 0 !important;
}


.view-fifth h2 {
    background: none !important;
    box-shadow: none !important;
    margin: 0px;
    padding: 0px;
}


.view-fifth .mask {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea3f48+79,e7252f+79 */
    background: #ea3f48 !important; /* Old browsers */
    background: -moz-linear-gradient(top, #ea3f48 79%, #e7252f 79%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ea3f48 79%,#e7252f 79%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ea3f48 79%,#e7252f 79%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea3f48', endColorstr='#e7252f',GradientType=0 ) !important; /* IE6-9 */
}

/*.hover-box a:hover {
	background-color:rgba(255,0,4,1.00);}
*/

/* 
.hover-box a:hover {

background: #2e2a2b; 
background: -moz-linear-gradient(top,  #2e2a2b 74%, #2e2a2b 74%, #231f20 75%, #231f20 75%); 
background: -webkit-linear-gradient(top,  #2e2a2b 74%,#2e2a2b 74%,#231f20 75%,#231f20 75%); 
background: linear-gradient(to bottom,  #2e2a2b 74%,#2e2a2b 74%,#231f20 75%,#231f20 75%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2a2b', endColorstr='#231f20',GradientType=0 ); 
border:2px solid #231f20;

 }
*/
.result-box h1 {
    background-color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    font-family: 'museo_sans100', Arial, sans-serif;
    padding: 25px 0px 25px 0px;
    margin: 0px;
}

.result-box p {
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0 11px 0;
    font-size: 16px;
    margin: 0px;
}


.modelbox-table {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

    .modelbox-table table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: none;
    }

    .modelbox-table th, td {
        border: none;
        text-align: left;
        padding: 8px;
    }



    .modelbox-table th {
        background: rgba(234,63,72,1);
        background: -moz-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,63,72,1)), color-stop(48%, rgba(234,63,72,1)), color-stop(48%, rgba(231,37,47,1)), color-stop(49%, rgba(231,37,47,1)), color-stop(100%, rgba(231,37,47,1)));
        background: -webkit-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
        background: -o-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
        background: -ms-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
        background: linear-gradient(to bottom, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea3f48', endColorstr='#e7252f', GradientType=0 );
        color: #FFFFFF;
        font-family: 'museo_sans500', Arial, sans-serif;
        font-size: 18px;
        height: 48px !important;
    }

    .modelbox-table tr {
        background-color: #efefef !important;
        height: 46px !important;
    }



.panel-group {
    width: 100%;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #e8323c;
    border-color: #ddd;
    margin: 0px !important;
    padding: 0px !important;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    margin: 0px 0px 0 0px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    float: right;
    color: #b0c5d8;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0px 0 0px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}





.logoff {
    float: right;
    height: 32px;
    line-height: 32px;
}

.black-g {
    background: #221e1f; /* Old browsers */
    background: -moz-linear-gradient(top, #221e1f 0%, #2a2a2a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #221e1f 0%,#2a2a2a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #221e1f 0%,#2a2a2a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#221e1f', endColorstr='#2a2a2a',GradientType=0 ); /* IE6-9 */
}

.logoff i {
    color: #7f7f7f;
}

.colapse-table {
    padding: 20px 10px 0 10px;
    margin: 0px;
}

    .colapse-table thead {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#231f20+0,2e2a2b+100 */
        background: #231f20; /* Old browsers */
        background: -moz-linear-gradient(top, #231f20 0%, #2e2a2b 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #231f20 0%,#2e2a2b 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #231f20 0%,#2e2a2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231f20', endColorstr='#2e2a2b',GradientType=0 ); /* IE6-9 */
        color: #D7D7D7;
    }


.popTbl {
    padding: 0;
    border: 0;
    margin-bottom: -5px;
    color: #D7D7D7;
    background-color: transparent;
}

    .popTbl:focus {
        background: 0;
        outline: 0 !important;
        color: #D7D7D7;
    }

    .popTbl:active {
        background: 0;
        outline: 0 !important;
        color: #D7D7D7;
    }

    .popTbl:hover {
        background: none;
        outline: 0 !important;
        color: #D7D7D7;
    }

.tbl-btn {
    position: relative;
    padding: 2px 7px;
    border: none;
    background: #292526;
    border-radius: 2px;
}

.adge-bottom {
    top: 100%;
    left: 50%;
    width: 5px;
    height: 5px;
    margin-left: -5px;
    border-width: 5px;
    margin: 0 auto;
    border-style: solid;
    border-color: #292526 transparent transparent transparent;
}

/*
.colapse-table thead {
		background: #2e2a2b; 
	background: -moz-linear-gradient(top, #2e2a2b 50%, #231f20 51%, #231f20 100%); 
	background: -webkit-linear-gradient(top, #2e2a2b 50%, #231f20 51%, #231f20 100%); 
	background: linear-gradient(to bottom, #2e2a2b 50%, #231f20 51%, #231f20 100%); /
	color:#FFFFFF;
}
	*/

/*
.colapse-table tbody tr:nth-child(1){
	background: rgba(234,63,72,1);
	background: -moz-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,63,72,1)), color-stop(48%, rgba(234,63,72,1)), color-stop(48%, rgba(231,37,47,1)), color-stop(49%, rgba(231,37,47,1)), color-stop(100%, rgba(231,37,47,1)));
	background: -webkit-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
	background: -o-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
	background: -ms-linear-gradient(top, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
	background: linear-gradient(to bottom, rgba(234,63,72,1) 0%, rgba(234,63,72,1) 48%, rgba(231,37,47,1) 48%, rgba(231,37,47,1) 49%, rgba(231,37,47,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea3f48', endColorstr='#e7252f', GradientType=0 );
 color:#FFFFFF;
 font-family: 'museo_sans500', Arial, sans-serif;}		
 */

.colapse-table tbody tr:nth-child(1) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea3f48+0,e7252f+100 */
    background: #ea3f48; /* Old browsers */
    background: -moz-linear-gradient(top, #ea3f48 0%, #e7252f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ea3f48 0%,#e7252f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ea3f48 0%,#e7252f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea3f48', endColorstr='#e7252f',GradientType=0 ); /* IE6-9 */
    font-family: 'museo_sans500', Arial, sans-serif;
    color: #D7D7D7;
}

.margin-top {
    margin-top: 20px !important;
}

.colapse-table th {
    vertical-align: middle !important;
    text-align: center !important;
    border-right: 1px solid #FFFFFF;
}

    .colapse-table th:nth-child(2) {
        vertical-align: center !important;
        text-align: center !important;
        border-right: 1px solid #FFFFFF;
    }

    .colapse-table th:nth-child(13) {
        border-right: 0px;
    }

.colapse-table thead:nth-child(13) {
    background-color: none !important;
}

.colapse-table th:nth-child(14) {
    background-color: none !important;
    border-radius: 0px 7px 7px 0px;
    border-top: 0px !important;
}

.colapse-table td {
    text-align: center;
    border-right: 1px solid #FFFFFF;
}


.colapse-table tbody {
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f0f0+1,e3e3e3+100 */
    border-bottom: 10px solid #fff;
    background: #f1f0f0; /* Old browsers */
    background: -moz-linear-gradient(top, #f1f0f0 1%, #e3e3e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f1f0f0 1%,#e3e3e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f1f0f0 1%,#e3e3e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f0f0', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
}


.colapse-table-two table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    width: 100% !important;
}


.colapse-table-two {
    padding: 0px 0px 0 0px;
    margin: 0px 0 0px 0;
    width: 100%;
}


    .colapse-table-two thead {
        background: #2e2a2b; /* Old browsers */
        background: -moz-linear-gradient(top, #2e2a2b 50%, #231f20 51%, #231f20 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #2e2a2b 50%, #231f20 51%, #231f20 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #2e2a2b 50%, #231f20 51%, #231f20 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2a2b', endColorstr='#231f20', GradientType=0 ); /* IE6-9 */
        color: #FFFFFF;
    }

    .colapse-table-two tbody tr:nth-child(1) {
        background: -moz-linear-gradient(top, #f1f0f0 1%, #e3e3e3 100%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f1f0f0 1%,#e3e3e3 100%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f1f0f0 1%,#e3e3e3 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f0f0', endColorstr='#e3e3e3',GradientType=0 ) !important; /* IE6-9 */
        color: #000000;
        font-family: 'museo_sans300', Arial, sans-serif;
    }


    .colapse-table-two tbody tr:last-child {
        font-family: 'museo_sans500', Arial, sans-serif !important;
        font-weight: bold !important;
    }


.margin-top {
    margin-top: 20px !important;
}

.colapse-table-two th {
    vertical-align: top !important;
    text-align: center !important;
    border-right: 1px solid #FFFFFF;
}

    .colapse-table-two th:nth-child(2) {
        vertical-align: center !important;
        text-align: center !important;
        border-right: 1px solid #FFFFFF;
    }

    .colapse-table-two th:nth-child(13) {
        border-right: 0px;
    }

.colapse-table-two thead:nth-child(13) {
    background-color: none !important;
}

.colapse-table-two th:nth-child(14) {
    background-color: none !important;
    border-radius: 0px 7px 7px 0px;
    border-top: 0px !important;
}

.colapse-table-two td {
    text-align: center;
    border-right: 1px solid #FFFFFF;
}


.colapse-table-two tbody {
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f0f0+1,e3e3e3+100 */
    background: #f1f0f0; /* Old browsers */
    background: -moz-linear-gradient(top, #f1f0f0 1%, #e3e3e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f1f0f0 1%,#e3e3e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f1f0f0 1%,#e3e3e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f0f0', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
}



.showhide {
    display: none;
}

.popover {
    max-width: 100%;
    margin: 0px auto;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

.colapse-table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100% !important;
    border: none;
}

.popover-content {
    padding: 6px !important;
    margin: 0px;
    /* box-shadow: 0px 0px 15px #444; */
    border: 1px solid #444;
    background: #e0e6e4;
}

    .popover-content table td {
        background-color: none;
    }

.colapse-table thead {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100% !important;
    border: 1px solid #ddd;
}

.popover-content table {
    margin-bottom: 0;
    border: 1px solid #fff;
}


.table-marg {
    padding: 0px;
    margin: 0;
}
/* 4 */


.poptable {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: auto;
    right: auto;
    margin: 45px auto 0;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.3s;
    width: auto% !important;
}

    .poptable.trued {
        visibility: visible;
        opacity: 1;
    }

.modal-number-box {
    margin: 0px auto;
    text-align: center;
    vertical-align: central;
    padding: 20px 0 0 5px;
}

.btn-close {
    width: 20px;
    height: 20px;
    background: #000;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
}

.modal-number-box th {
    background-color: #efefef;
}

.modal-number-box table, th, td {
    border: 1px solid #dcdcdc;
    border-collapse: collapse;
}

.modal-number-box th, td {
    padding: 5px;
    text-align: left;
}


.modal-number-box table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100% !important;
    border: none;
}

.modal-number-box input {
    width: 100% !important;
}



.months-data {
    margin-top: 40px;
    background-image: url(../images/patterns.jpg);
    background-repeat: repeat;
    padding: 20px 30px 0px 30px;
    border: 1px solid #e3e3e3;
}

.radio-btns {
    margin-bottom: 20px;
}



.four-page {
    text-align: center;
    margin: 0px auto;
    margin: 20px;
}

    .four-page img {
        text-align: center !important;
        margin: 0px auto !important;
    }




    .four-page button {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1452f+0,d92b15+100 */
        background: #f1452f; /* Old browsers */
        background: -moz-linear-gradient(top, #f1452f 0%, #d92b15 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f1452f 0%, #d92b15 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f1452f 0%, #d92b15 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1452f', endColorstr='#d92b15', GradientType=0 ); /* IE6-9 */
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 20px;
        padding: 10px 40px 10px 40px;
        border-radius: 6px;
        border: 1px solid #cc3f34;
    }

        .four-page button:hover {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d92b15+0,f1452f+100 */
            background: #d92b15; /* Old browsers */
            background: -moz-linear-gradient(top, #d92b15 0%, #f1452f 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #d92b15 0%, #f1452f 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #d92b15 0%, #f1452f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92b15', endColorstr='#f1452f', GradientType=0 ); /* IE6-9 */
        }

.registraion-form {
    background-image: url(../images/patterns.jpg);
    background-repeat: repeat;
    /*	background-color:#e7252f;*/
    margin: 20px 0px 0 0px;
    padding: 20px 0px 40px 0px;
    border: 1px solid #e3e3e3;
}

/*.form-float label {
	float:left;}	
	
.form-float form {
}	*/

/*MediaQueries*/

table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    width: 100% !important;
}

@media (max-width: 1200px) {
    .navbar-default .navbar-nav > li > a {
        margin: 0 5px 0 5px;
        padding: 10px 10px 10px 10px;
        line-height: 9px;
    }
}

@media (max-width: 991px) {
    .navbar-default .navbar-nav > li > a {
        margin: 0 5px 0 5px;
        padding: 10px 5px 10px 5px;
        line-height: 9px;
    }

    .nav > li {
        font-size: 16px;
    }

    .product-search-content h2 {
        padding: 0px 100px 20px 100px;
    }

    .body-content h2 {
        font-size: 16px;
    }




    .bg-box h1 {
        font-size: 16px !important;
    }

    .bg-box h2 {
        font-size: 14px !important;
    }


    .bg-box-red h1 {
        font-size: 16px !important;
    }

    .bg-box-red h2 {
        font-size: 14px !important;
    }

    .view {
        float: none !important;
    }

    .panel-group {
        width: 100% !important;
    }

    .large-table table {
        width: 100% !important;
    }

    .colapse-table table {
        width: 90%;
    }


    .colapse-table-two {
        padding: 0px 10px 0 10px;
        margin: 0px 0 0px 0%;
        width: 93%;
    }

    .poptable {
        margin: 61px auto 0;
    }
}

@media (max-width: 767px) {
    .nav > li {
        position: relative;
        display: block;
        padding: 0px;
        margin: 0px;
        line-height: 9px;
        font-size: 16px;
        color: #000000;
        font-weight: 100;
    }

    .navbar-default .navbar-collapse {
        background-color: #e7252f;
        border-right: 1px solid #e7252f;
        border-left: 1px solid #e7252f;
        border-bottom: 3px solid #000000;
        border-radius: 0px 0px 10px 10px;
        ;
    }

    .navbar-default .navbar-nav > li > a {
        color: #FFFFFF;
        padding: 15px 0px 15px 10px;
        font-size: 16px;
        font-weight: 100;
        line-height: 9px;
    }

        .navbar-default .navbar-nav > li > a:hover {
            color: #FFFFFF;
            padding: 15px 0px 15px 10px;
            font-size: 16px;
            line-height: 9px;
            font-weight: 100;
        }

    .navbar-toggle {
        margin-top: 22px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #c31922;
    }

    .navbar-default .navbar-toggle {
        border-color: #fff;
    }

    .navbar-brand {
        padding: 0px 0 0 15px;
    }

    .login-bg {
        background-image: url(../images/mobile-bg.jpg);
        /*   min-height: 1070px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
	padding: 0px 0 90px 0;*/
        max-height: 100%;
    }

    .login-box .content img {
        width: 100px;
        padding-top: 0;
    }

    .login-box .content h1 {
        font-size: 20px;
        margin: 20px 0 0;
    }

    .forget-error a {
        font-style: italic;
        color: #000000;
        font-size: 12px;
        padding: 0 40px 0 40px;
    }

        .forget-error a:hover {
            font-size: 12px;
        }

    .product-search-content h2 {
        font-size: 16px;
        padding: 0px 20px 20px 20px;
    }

    .side-bar {
        margin: 20px 0 0 0px;
        padding: 0px;
    }

    .result-heading {
        margin-left: 0px;
    }

    .footer ul li a {
        padding: 0 5px 0 5px;
    }

        .footer ul li a:hover {
            padding: 0 5px 0 5px;
        }

    /*.view-fifth .mask {
    background-color: rgba(146,96,91,0.3);
    -webkit-transform: translateX(-716px);
    -moz-transform: translateX(-716px);
    -o-transform: translateX(-716px);
    -ms-transform: translateX(-716px);
    transform: translateX(-716px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    width: 100% !important;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}*/


    .colapse-table-two {
        padding: 0px 10px 0 10px;
        margin: 0px 0 0px 0%;
        width: 91% !important;
    }

    .poptable {
        margin: 61px auto 0;
    }
}

@media (max-width: 650px) {

    .footer ul li {
        display: block !important;
        border: none !important;
        padding: 5px 0 5px 0 !important;
    }
}

@media (max-width: 450px) {
    .custom-control-description {
        font-size: 11px;
        font-weight: 100;
    }

    input[type=checkbox], input[type=radio] {
        margin: 4px 0 0;
        margin-top: 1px\9;
        line-height: normal;
        width: 10px;
        height: 10px;
    }



    .four-page h1 {
        font-size: 22px;
    }

    .four-page button {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1452f+0,d92b15+100 */
        background: #f1452f; /* Old browsers */
        background: -moz-linear-gradient(top, #f1452f 0%, #d92b15 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f1452f 0%, #d92b15 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f1452f 0%, #d92b15 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1452f', endColorstr='#d92b15', GradientType=0 ); /* IE6-9 */
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 20px;
        padding: 10px 20px 10px 20px;
        border-radius: 6px;
        border: 1px solid #cc3f34;
    }

        .four-page button:hover {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d92b15+0,f1452f+100 */
            background: #d92b15; /* Old browsers */
            background: -moz-linear-gradient(top, #d92b15 0%, #f1452f 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #d92b15 0%, #f1452f 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #d92b15 0%, #f1452f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92b15', endColorstr='#f1452f', GradientType=0 ); /* IE6-9 */
        }
}




/*MediaQueries*/

/*input-css-registration*/
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

    .input__field:focus {
        outline: none;
    }

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #dadada;
    font-weight: 100;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

/* Individual styles */

/* Individual styles */

/* Juro */
.input--juro {
    overflow: hidden !important;
    border: 1px solid #dadada;
}

.input__field--juro {
    position: absolute !important;
    z-index: 100 !important;
    padding: 2.15em 0.75em 0 !important;
    width: 100% !important;
    background: transparent !important;
    color: #1784cd !important;
    font-size: 0.85em !important;
}

.input__label--juro {
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: #fff;
    text-align: left !important;
}

.input__label-content--juro {
    padding: 2em 1em !important;
    -webkit-transform-origin: 0% 50% !important;
    transform-origin: 0% 50% !important;
    -webkit-transition: -webkit-transform 0.3s, color 0.3s !important;
    transition: transform 0.3s, color 0.3s !important;
    text-rendering: geometricPrecision !important;
}

.input__label--juro::before {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    border: 0px solid transparent;
    -webkit-transition: border-width 0.3s, border-color 0.3s;
    transition: border-width 0.3s, border-color 0.3s;
}

.input__field--juro:focus + .input__label--juro::before,
.input--filled .input__label--juro::before {
    border-width: 8px !important;
    border-color: #282727 !important;
    border-top-width: 2em !important;
}

.input__field--juro:focus + .input__label--juro .input__label-content--juro,
.input--filled .input__label--juro .input__label-content--juro {
    color: #fff;
    -webkit-transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1) !important;
    transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1) translateZ(1px) !important;
}



article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active, a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button, input {
    line-height: normal;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled], html input[disabled] {
        cursor: default;
    }

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}





.content-r {
    font-size: 150%;
    padding: 0em 0;
}



.bgcolor-6 {
    background: none;
    color: #fff;
}


.content-r input[type=text] {
    box-shadow: none;
    outline: none;
    font-weight: 100;
    border: none;
    font-family: 'museo_sans300', Arial, sans-serif;
    color: #282727 !important;
    font-size: 16px;
}
